/* =============
    Demo
============= */

.box{
    height: 100px;
    width: 100px;
    margin-bottom: 20;
}

.red-box{
    background-color: $red;
}

.yellow-box{
    background-color: $yellow;
}

.blue-box{
    background-color: $blue;
}